<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand navname offset-md-1" href="#" style="font-family: 'Praise', cursive;">Emmanuel <span class="text-primary">Jan</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-me">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#my-skills">My Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#my-projects">My Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-me">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 <main>
   <div class="container text-center" id="home">
     <div class="row py-5">
       <div class="col-md-6">
         <div class="card pt-md-5 bg-transparent" style="border: none;">
          <h1 class="text-muted">Hello,I'm <span class="text-primary">Emmanuel</span> Jan. </h1> 
          <p class="lead">I am a Fullstack Web Developer, Spring Boot Developer, Angular Developer and Mobile App Developer(Flutter).</p>
          <p>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>&nbsp;
            <a href="https://github.com/emmanuel-jan" target="_blank"><i class="fab fa-github"></i></a>&nbsp;
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>&nbsp;
            <a href="https://wa.me/254791575965" target="_blank"><i class="fab fa-whatsapp"></i></a>&nbsp;
          </p>
          <p class="lead">
            <a href="../assets/downloads/EmmanuelJanCV.pdf" download="Emmanuel_Jan_CV" class="btn btn-lg btn-primary fw-bold">Curriculum Vitae</a>
          </p>
         </div>
       </div>
       <div class="col-md-3 col-xm-12 col-sm-12 mx-auto">
         <div class="card bg-transparent" style="border: none;">
           <div class="profile"></div>
         </div>
       </div>
     </div>
   </div>
   <div class="container-fluid">
     <h2 class="text-center text-primary" id="about-me">About Me</h2>
     <div class="row">
       <div class="col-md-6 mx-auto">
        <p class="text-center lead">
          I am from Kisumu, Kenya. I have over 3 years experience in web development.
          I am proficient in HTML, CSS, JavaScript, PHP and Java. I use Spring Boot for back-end programming and Angular for front-end programming.
          I also use flutter for Mobile App development
        </p>
       </div>
     </div>

     <h2 class="offset-1 text-muted" id="my-skills"></h2>
    <div class="row offset-md-1">
      <div class="col-md-6">
        <div class="skills mx-auto"></div>
      </div>
      <div class="col-md-3 text-center text-muted">
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">I'm good at:</li>
          <li class="list-group-item bg-transparent"><i class="fab fa-js-square"></i>&nbsp;JavaScript</li>
          <li class="list-group-item bg-transparent"><i class="fab fa-code"></i>&nbsp;Java</li>
          <li class="list-group-item bg-transparent"><i class="fab fa-html5"></i>&nbsp;HTML</li>
          <li class="list-group-item bg-transparent"><i class="fab fa-css3-alt"></i>&nbsp;CSS</li>
          <li class="list-group-item bg-transparent"><i class="fas fa-code"></i>&nbsp;Spring Boot</li>
          <li class="list-group-item bg-transparent"><i class="fab fa-angular"></i>&nbsp;Angular </li>
          <li class="list-group-item bg-transparent"><i class="fas fa-code"></i>&nbsp;Flutter</li>
        </ul>
      </div>
    </div>
   </div>

   <div class="container">
     <h2 class="text-primary text-center pb-4" id="my-projects" >My Projects</h2>
     <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
      <div class="col">
        <div class="card h-100 bg-transparent" style="border: none;">
          <img src="../assets/image/nuvelnews.PNG" class="card-img-top" alt="..." style="border-radius: 20px; filter: brightness(80%);">
          <div class="card-body">
            <h5 class="card-title text-primary">NuvelNews</h5>
            <p class="card-text lead">NuvelNews is a highly sofisticated news application dedicated to bringing truthful news to its readers.</p>
          </div>
         <div class="card-footer bg-transparent" style="border: none;">
          <a href="https://nuvel-news.herokuapp.com/index.php" target="_blank" class="btn btn-outline-primary">Click Here</a>
         </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-transparent" style="border: none;">
          <img src="../assets/image/Westlabels.PNG" class="card-img-top" alt="..." style="border-radius: 20px; filter: brightness(80%);">
          <div class="card-body">
            <h5 class="card-title text-primary">Westlabels</h5>
            <p class="card-text lead">West Labels is an Afro-urban brand, hub of social entrepreneurs that consists of eleven determined, hardworking, selfless and visionary gentlemen who have devoted their efforts to constructive and fruitful work.</p>
          </div>
          <div class="card-footer bg-transparent" style="border: none;">
            <a href="https://west-labels.herokuapp.com/" target="_blank" class="btn btn-outline-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 bg-transparent" style="border: none;">
          <img src="../assets/image/KRA-Calc.PNG" class="card-img-top" alt="..." style="border-radius: 20px; filter: brightness(80%);">
          <div class="card-body">
            <h5 class="card-title text-primary">KRA-Calculator</h5>
            <p class="card-text lead">This is a KRA calculator which helps to calculate an individuals tax with respect to the individuals gross salary.</p>
          </div>
          <div class="card-footer bg-transparent" style="border: none;">
            <a href="https://kra-calc.netlify.app/" target="_blank" class="btn btn-outline-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
   </div>
   <br>

   <div class="container" id="contact-me">
     <h2 class="text-center text-muted">Contact Me</h2>
     <div class="row">
       <div class="col-md-6 mx-auto">
        <div class="card bg-transparent" style="border: none;">
          <div class="card-body">
            <form>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" required/>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" required/>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Message</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" id="Message" required></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Send</button>
            </form>
          </div>
        </div>
       </div>
     </div>
   </div>
 </main>

<!-- footer -->
<footer class="pb-5">
  <div class="container">
      <div class="row pt-5">
          <div class="col-md-7 mx-auto text-center">
              <span class="display-6 text-muted" style="font-family: 'Praise', cursive;"><i class="fas fa-signature"></i>&nbsp;Emmanuel Jan</span>
             
              <div class="mt-2 text-muted">
                  @2021 Jan-Tech All rights reserved
              </div>
          </div>
      </div>
  </div>
</footer>
