<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand navname offset-md-1" href="#">Emmanuel <span class="text-primary">Jan</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 <main>
   <div class="container text-center">
     <div class="row py-5">
       <div class="col-md-6">
         <div class="card pt-md-5" style="border: none;">
          <h1>Hello,I'm <span class="text-primary">Emmanuel</span> Jan. </h1> 
          <p class="lead">I am a Fullstack Web Developer, Laravel Developer, Angular Developer and Mobile App Developer(Flutter).</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-primary fw-bold">Resume</a>
          </p>
         </div>
       </div>
       <div class="col-md-3 offset-1 mx-auto">
         <div class="card" style="border: none;">
           <div class="profile"></div>
         </div>
       </div>
     </div>
   </div>
   <div class="container-fluid">
     <h2 class="text-center text-primary">About Me</h2>
     <div class="row">
       <div class="col-md-6 mx-auto">
         <p class="text-center lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde non, a ratione facere corrupti mollitia nihil delectus expedita sequi suscipit voluptate consequatur molestiae tempora quae culpa dicta asperiores reiciendis repudiandae?</p>
       </div>
     </div>
   </div>

 </main>